<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419307988913-r400qnoqcbrgbl5p1hlvpeeau02j5tr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419307988913-r400qnoqcbrgbl5p1hlvpeeau02j5tr8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>419307988913-5tsd8jn3vtgcj4rkp37k9gdcp7oc0asn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAN0SLewN5epdzwM-04cclKjB9vu_3RsrI</string>
	<key>GCM_SENDER_ID</key>
	<string>419307988913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lazyPetty</string>
	<key>PROJECT_ID</key>
	<string>lazypetty-fff04</string>
	<key>STORAGE_BUCKET</key>
	<string>lazypetty-fff04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419307988913:ios:a489b4837d6afa37a3ff90</string>
</dict>
</plist>